@model IEnumerable<XSIS.Shop.ViewModels.OrderViewModels>

@{
    ViewBag.Title = "Index";
}

<div class="block-header">
    <h2>ORDER/INDEX</h2>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <form method="post">
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        @Html.TextBox("orderNumber", "", new { @class = "form-control ", @placeholder = "Order Number" })
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group form-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                            @Html.TextBox("Date", "", new { @class = "form-control date-picker ", @placeholder = "Order date" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i> </span>
                        <div class="col-md-10">
                            @Html.DropDownList("CustomerId", null, "Pilih Customer", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-info"><i class="zmdi zmdi-search-for"></i> Cari</button>
                    <a href="@Url.Action("Create", "Orders")" class="btn btn-info"> New Order</a>
                </div>
            </form>
        </div>

    </div><div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalAmount)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                        <td>
                            <a href="@Url.Action("Details", "Orders", new { id = item.Id })" class="btn btn-info"><i class="zmdi zmdi-search"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>