@model IEnumerable<XSIS.Shop.ViewModels.CustomerViewModels>

@{
    ViewBag.Title = "Index";
}

<div class="block-header">
    <h2>CUSTOMER/INDEX</h2>
</div>

<div class="card">
    <div class="card-header">
        <div class="pull-right">
            <form method="post">
                <span>@Html.TextBox("nama", "", new { @placeholder = "Nama" })</span>
                <span>@Html.TextBox("city", "", new { @placeholder = "City/Country" })</span>
                <span>@Html.TextBox("email", "", new { @placeholder = "Email" })</span>
                <button type="submit" class="btn btn-info"/><i class="zmdi zmdi-search-for"></i>
            </form>
        </div>
        <a href="@Url.Action("create", "Customers")" class="btn btn-info">Create New Customer</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.City)</th>
                    <th>@Html.DisplayNameFor(model => model.Country)</th>
                    <th>@Html.DisplayNameFor(model => model.Phone)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Customers", new { id = item.Id })" class="btn btn-success"><i class="zmdi zmdi-edit"></i></a>
                        <a href="@Url.Action("Details", "Customers", new { id = item.Id })" class="btn btn-info"><i class="zmdi zmdi-search"></i></a>
                        <a href="@Url.Action("Delete", "Customers", new { id = item.Id })" class="btn btn-danger"><i class="zmdi zmdi-delete"></i></a>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>