@model XSIS.Shop.ViewModels.SupplierViewModels

@{
    ViewBag.SelectedHome = "";
    ViewBag.SelectedCustomer = "";
    ViewBag.SelectedSupplier = "active";
    ViewBag.SelectedProduct = "";
    ViewBag.SelectedOrder = "";
    ViewBag.Title = "Detail Supplier";
}

<div class="block-header">
    <h2>Form Detail Existing Supplier</h2>
</div>

<div class="card">
    <form class="form-horizontal" role="form">
        <div class="card-header">
            <h2>
                Detail Supplier
                <small>
                    Form di bawah ini digunakan untuk melihat Detail Supplier.
                </small>
            </h2>
        </div>

        <div class="card-body card-padding">
            <div class="pmb-block">
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view">
                        <dl class="dl-horizontal">
                            <dt>
                                Nama Perusahaan
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CompanyName)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ContactName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ContactName)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ContactTitle)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ContactTitle)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.City)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.City)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Country)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Country)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Country)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Country)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Phone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Fax)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Fax)
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                Daftar Produk
                            </dt>
                            <dd>

                            </dd>
                        </dl>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th>
                                        Nama Produk
                                    </th>
                                    <th>
                                        Harga
                                    </th>
                                    <th>
                                        Kemasan
                                    </th>
                                    <th>
                                        Kadaluarsa
                                    </th>
                                </tr>

                                @foreach (var item in Model.listproduk)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnitPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Package)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsDiscontinued)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>


                        <a href="@Url.Action("Index","Suppliers")" class="btn btn-info btn-sm m-t-10">Back to Index</a>
                        <a href="@Url.Action("Edit","Suppliers", new { id = Model.Id })" class="btn btn-primary btn-sm m-t-10"><i class="zmdi zmdi-edit"></i> Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>