@model IEnumerable<XSIS.Shop.ViewModels.SupplierViewModels>

@{
    ViewBag.Title = "Index";
}

<div class="block-header">
    <h2>SUPPLIER/INDEX</h2>
</div>

<div class="card">
    <div class="card-header">
        <a href="@Url.Action("create", "Suppliers")" class="btn btn-danger">Create New Supplier</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fax)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fax)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Suppliers", new { id = item.Id })" class="btn btn-success"><i class="zmdi zmdi-edit"></i></a>
                            <a href="@Url.Action("Details", "Suppliers", new { id = item.Id })" class="btn btn-info"><i class="zmdi zmdi-search"></i></a>
                            <a href="@Url.Action("Delete", "Suppliers", new { id = item.Id })" class="btn btn-danger"><i class="zmdi zmdi-delete"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>