@model IEnumerable<XSIS.Shop.ViewModels.ProductViewModels>

@{
    ViewBag.Title = "Index";
}

<div class="block-header">
    <h2>PRODUCT/INDEX</h2>
</div>

<div class="card">
    <div class="card-header">
        <a href="@Url.Action("create", "Products")" class="btn btn-danger">Create New Product</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Package)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDiscontinued)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SupplierName)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Package)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDiscontinued)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupplierName)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Products", new { id = item.Id })" class="btn btn-success"><i class="zmdi zmdi-edit"></i></a>
                            <a href="@Url.Action("Details", "Products", new { id = item.Id })" class="btn btn-info"><i class="zmdi zmdi-search"></i></a>
                            <a href="@Url.Action("Delete", "Products", new { id = item.Id })" class="btn btn-danger"><i class="zmdi zmdi-delete"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>